.Navbar {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 10%;
  width: 100%;
  background: lightblue;
}

.help {
  position: relative;
  left: 90%;
<<<<<<< HEAD
  width: 2px;
=======
>>>>>>> a07806f8a367f4d8311cfcd9e1a329363555deb9
  color: white;
  top: 2%;
}

h2:hover {
  color: black;
  cursor: pointer;
}

.helpCenter {
  position: absolute;
  background: lightgrey;
  width: 40%;
  height: 800%;
  top: 120%;
  left: 30%;
  z-index: 10;
  border-radius: 20px;
  animation: moveIn 1s;
}

.helpCenter h1 {
  margin-left: 30%;
  color: white;
}

.helpCenter h3 {
  color: white;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

@keyframes moveIn {
  0%{
    top: 50%;
    opacity: 0;
  }
  100%{
    top: 120%;
    opacity: 1;
  }
}

.title {
  position: absolute;
<<<<<<< HEAD
  top: 0px;
  left: 2.5%;
  color: white;
}

.descriptions {
  position: absolute;
  top: 10%;
  height: 10%;
  width: 100%;
}

.example1 {
  position: absolute;
  top: 10%;
  left: 6%;
  width: 20%;
  
=======
  left: 2.5%;
  top: -7.5%;
  color: white;
}

.example1 {
  position: absolute;
  top: 112%;
  left: 6%;
  width: 20%;
>>>>>>> a07806f8a367f4d8311cfcd9e1a329363555deb9
}

.example2 {
  position: absolute;
<<<<<<< HEAD
  top: 10%;
=======
  top: 112%;
>>>>>>> a07806f8a367f4d8311cfcd9e1a329363555deb9
  left: 27%;
  width: 15%;
}

.example3 {
  position: absolute;
<<<<<<< HEAD
  top: 10%;
=======
  top: 112%;
>>>>>>> a07806f8a367f4d8311cfcd9e1a329363555deb9
  left: 44%;
  width: 15%;
}

.example4 {
  position: absolute;
<<<<<<< HEAD
  top: 10%;
=======
  top: 112%;
>>>>>>> a07806f8a367f4d8311cfcd9e1a329363555deb9
  left: 62%;
  width: 15%;
}

.example5 {
  position: absolute;
<<<<<<< HEAD
  top: 10%;
=======
  top: 112%;
>>>>>>> a07806f8a367f4d8311cfcd9e1a329363555deb9
  left: 79%;
  width: 15%;
}

.example1 span, .example1 p, .example2 span, .example2 p, .example3 span, .example3 p, .example4 span, .example4 p, .example5 span, .example5 p {
  display: inline-block;
}

.example1 p, .example2 p, .example3 p, .example4 p, .example5 p {
  position: absolute;
  top: -80%;
  margin-left: 10px;
}

.node-example {
  width: 25px;
  height: 25px;
  z-index: 0;
}

.node-wall-example{
  position: relative;
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  z-index: 2;
}

.node-finish-example {
  background-color: pink;
}

.node-start-example {
  background-color: cyan;
}

.node-visited-example {
  background-color: lightblue;
}

.node-shortest-path-example {
  background-color: rgb(255, 254, 106);
}
<<<<<<< HEAD

@media all and (max-width: 1000px) {
  .example1, .example2, .example3, .example4, .example5 {
    top: 2%;
  }
  .example1 p, .example2 p, .example3 p, .example4 p, .example5 p{
    font-size: 12px;
    position: absolute;
    top: -10px;
  }
  .title {
    font-size: 20px;
    top: 20%;
  }
}

@media all and (max-width: 800px) {
  .example1, .example2, .example3, .example4, .example5 {
    top: 2%;
  }
  .example1 p, .example2 p, .example3 p, .example4 p, .example5 p{
    font-size: 8px;
    position: absolute;
    top: -10px;
  }
  .title {
    font-size: 20px;
    top: 20%;
  }
}

@media all and (max-width: 700px) {
  .title {
    font-size: 10px;
    top: 30%;
  }
}
=======
>>>>>>> a07806f8a367f4d8311cfcd9e1a329363555deb9
